input,
button {
  width: 100%;
  height: 100%;
  line-height: 2.2rem;
  margin: 0 12px;
  height: var(--search-height);
  padding-left: 16px;
  background-color: var(--background-color);
  border-radius: var(--search-border-radius);
  display: flex;
  border: 1px solid var(--search-border-radius);
  font-size: 1.6rem;
  font-weight: 400;
  padding-right: 40px;
  border: none;
  outline: none;
  caret-color: var(--primary);
  color: var(--text-color);
  background-color: transparent;
  font-family: var(--font-family);

  &::placeholder {
    font-weight: 300;
    color: var(--input-color);
    font-family: "KFOmCnqEu92Fr1Mu4mxKKTU1Kg", var(--font-family);
  }

  &:focus-within {
    border-color: var(--border-color);
  }

  &:hover {
    border-color: var(--border-color);
    .search-btn {
      color: var(--input-color);
      background-color: var(--background-color);
    }
  }
}
