.wrapper {
  display: flex;
  align-items: center;
  padding: 9px 16px;
  color: var(--text-color);
}

.image {
  // width: 30%;
  object-fit: cover;
  margin-right: 12px;
}

.info {
  flex: 1;
  margin-left: 12px;
  gap: 12px;
}

.unit-price {
  font-size: 16px;
}

.quantity {
  font-size: 14px;
  font-weight: 300;
  color: var(--title-color);
}

.total-price {
  font-size: 16px;
}

.delete-icon {
  cursor: pointer;
}
